.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery-list > * {
  flex: 1 0;
  min-width: 15rem;
  max-width: 15rem;
  margin: 0.25rem 0;
}
.gallery-thumbnail-image {
  border: 1px solid #fff;
  box-shadow: 2px 2px 4px 0 #111;
  padding-top: 100%;
}

/* Gallery Item Detail */

.gallery-item {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.35);
  padding: 2rem;
  align-items: center;
  background-image: url("https://uploads.codesandbox.io/uploads/user/0449b9e2-b607-4370-9e4a-fa75b974e0d4/sGVw-parchment.jpg");
}

.gallery-item .col {
  display: flex;
}

.gallery-item h2 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.gallery-item p {
  line-height: 1.8rem;
  font-size: 1.1rem;
}

.gallery-item .details {
  flex: 1 0 40%;
}
.gallery-item .details > * {
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.gallery-item ul {
  padding: 1rem 0.5rem;
}
.gallery-item li {
  padding: 0.5rem;
  box-shadow: 2px 2px 4px 0 #111;
}
.gallery-item li b {
  font-family: "Cinzel", serif;
}
.gallery-item-image {
  border: 1px solid #fff;
  box-shadow: 2px 2px 4px 0 #111;
  padding-top: 100%;
}
